*{
    font: 400 16px/1.6 Rubik, sans-serif;
}

body{
    background-image: url("./components/img/mpologoma.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



.navInput
{height: 25px;
margin: 5px auto 0px;}

/*.flexa{
    display: flex;
    margin: 50px auto 50px;
}*/

.name-body{
    margin-top: 2px;
}

#nameItem-span{
	margin: 0;
}
section
{
    padding:  5px 50px;
    border-radius: 2px;
}

.shortlist-Space{
	width: 285px;
	padding:0;
	background-color: rgba(255,255,255,0.1);
}

#instructions{
	color: orange;
    /*text-shadow: 0px 0px 1px orange;*/
}


#rotated-div
{
    margin-top: -55px;
    transform: skewY(2deg);
    background-color: rgba(255,255,255,0.99);
    height: 150px;
    /*box-shadow: 1px 1px 1px lightgreen;*/
    /*border-bottom: 1px black solid;*/
}
#rotated-div:hover
{
    /*transform: skewY(-1deg);*/
    background-color: rgba(255,255,255,0.95);
}

.navfonts{

	color: green;
	font-size: 16px;
}



#anti-rotated-div
{
    padding-top: 50px;
    transform: skewY(-2deg);
}


.main-tasks{

    margin-top: 50px;
}



#heading
{
font-size: 18px;
    max-width: 630px;
    margin: 10px auto 10px auto;
    text-shadow: 2px 2px 1px black;

}





.no-skew
{
    transform: skewY(-2deg);
    margin: 20px 0 0 0;
}

.lowest{
    border-top: 2px white solid;
    background: black;
    padding: 20px 50px;
    opacity: 0.9; 
}



#comment-Name-DateDiv{
	display: flex;
	border: 3px black solid;
}
.comment{

    margin: 20px 10px;
    padding: 10px;
}
#commentInput{

    background-color: lightgray;
    width: 500px;
    height: 50px;
}


#comment-input-N-btn
{
	display: flex;
}



#donateDIV{

height: 100px;
	margin-bottom: 10px;
	/*border: 10px blue solid;*/
}

.donate-btn
{
    border-radius: 5px;
    border: none;
    background-color: orange;
    padding: 12px;
    max-width:300px;
	float: right;
    margin: 20px 0 0 0;
}



.about{margin-right: 50px }


 
 .mzirochippic{
    border-radius: 60%;
    width: 40px; 
}

/*#myButton{

	background-color: red;
	padding: 30px;
}
*/

.totem-btn
{
	padding: 1px;
    background: none;
    border: none;
    width: 80px;
    height: 65px;
}

.green-colored{
	color: #3a8905;
	font-weight: bold;
	/*height: 5px;*/

}

.green-colored:hover{
	color: darkgreen;
	font-size: 15px;

}

.totem-btn:hover
{
	padding-bottom: 5px;
	width: 80px;
}

.totems{
    padding: 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

#totem-pic{
	padding: 1px;
    border-radius: 60%;
}
#totem-pic:hover{
	padding: 2px;
	border: 2px #3a8905 solid;
    box-shadow: 0px 0px 2px #3a8905;

}

.wordNsignDiv{
	display: flex;
}

.mulungereza{
	color: gray;
	font-size: 12px;
	margin-left:15px;
}

 .descDiv
 {
 	margin: 10px 0 25px;
 	padding: 5px 0 15px;
 	background-color: rgba(255,255,255,0.8);
 	overflow-x: hidden;
 	height: 322px
 }

  #dictWord{font-size: 40px;

  	}



 #dictWord, #translato, #lilDescr, #useofWord, #relatedWords
 {
 	margin-left: 40px;
 }

#GoodBad-Sign{
	margin: 25px 0 0 15px;
	width: 20px;
	border-radius: 20px;
	height: 10px;
	background-color: red;
}

#wordtype
{
	margin: 5px 40px;
	font-size: 20px;
}
#translato{
	margin: -6px 0 0 5px;
	font-size: 22px;}

#useofWord{
color: black;
margin: 5px 0 15px 40px;
}

#lilDescr{
margin: 5px 0 15px 40px;
  	color: green;
  }

#relatedWords{
	color: blue;
	margin-left: 5px;
}

#close{
	border-radius: 100%;
	padding: 0px 0px;
	height: 2px;
	margin: 10px 0 0 5px;
}

#name-NT{
	font-weight: bold;
	color: #3a8905;
	padding: 2px;
}

#totem-NT
{	font-weight: bold;
	color: #87a841;
	padding: 2px;
}

#clicked-Name:hover{

font-size: 15px
}



#inputbox{
    height: 25px;
    background-color: #ffffff;
    color: #3a8905;
    margin: 0px 0px 5px;
    border: 3px  #87a841 solid;
}



::-webkit-scrollbar{
    height: 5px;
     width: 5px; 
}



::-webkit-scrollbar-track{
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: green;
}


::-webkit-scrollbar-thumb:hover{
    border-radius: 20px;
    background-color: green;
}

#omubalaCard{
	font-size: 15px;
	color: #e88a20;
	margin: 30px 10px 15px;
}

#inputing
{
font-size: 10px;
}

h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
    color: #87a841;
}

h1{font-size: 25px;}
h2{font-size: 20px;}
h3{font-size: 15px; color: white}
h4{ padding: 0; margin: 0; font-size: 12px; }
mm
.col-lg-5{
    padding: 0;
    
}
.form-control
{
    border-radius: 10px;

}
.names-widget{
	height: 405px;
    padding: 5px 10px;
    background-color: rgba(255,255,255, 0.8);
}



.nav-link{
    color: green;
}

.item
{
background-color: green;
    padding: 5px 10px;
    border-radius: 60px;
    margin: 2px 1px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

.container2
{
	width: 90%;
margin: 0 auto 0 
}

#logopic
{
    width: 180px;
    margin: 2px 0 2px;
}



.lineup{display: flex;}

.card-body
{
	overflow-x: hidden;
    width: 270px;
    /*height: 290px;*/
    border-radius: 10px;
    box-shadow: 1px 1px 50px #87a841;
}

#Card-cont{
    height: 290px;
    width: 285px;
    padding: 5px 5px;

    overflow-x: hidden;
    border-radius: 15px;
}

.shortlists{
	padding: 2px;
overflow: scroll;
    }


.cardheader
{
    display: flex;
}

.no-padding{
    padding: 0;
    margin: 0;
    align-content: flex-start;
}
.cardimg 
{
    transform: rotate(-7deg);
    margin: -15px 0px 0px 10px;
    width: 290px;
}

#akabiro{
	padding: 40px 5px 0px;
	float: right;
		color: #87a841;
	font-weight: bold;
	font-size: 15px;

}


.akabiroDiv{
    margin: -25px 10px 0 0 ;
    display: flex;
    width: 230px;

}

/*.akabiDV{margin-left: 0px}*/

.akabiroimg
{
width: 70px;
    border-radius: 90%;
    border: 3px white solid;
}

.col-lg-9, .col-lg-3{padding: 0}

#omuziroCardName{
	color: green;
	font-weight: bold;
	font-size: 23px;
}

.card-data{
margin: -5px 0px 0px -5px;
/*overflow: scroll;*/
}

#nam{
    padding: 0;
    margin: 0;
    font-size: 30px;
    
}

.imgDiv{

    margin-top: -70px;
    margin-left: -30px;
    width: 315px;
    height: 210px;
    transform: rotate(7deg);
    overflow: hidden;
}


#ebirala
{
    margin: 0px 0px 0px 0px;
    padding: 0;
    border: none;
    background:none;
    font-size: 12px;
    float: right;
}


.tabs{background-color: rgba(255,255,255,0.8);}

/*.tab-list {
}*/

/*.tab-list-item {
    background: none;
    border: none;
  display: inline-block;
  list-style: none;
  padding: 0.4rem 1.75rem;
  color: #3a8905;}*/

/*.tab-list-item:hover{
    background: #87a841;
  color: #ffffff;    }*/

/*.tab-list-active {
    font-weight: bold;
    border-bottom: 3px #3a8905 solid;}

*/

/* this part is for media queries*/


/*this is for tablet screen ================================================================================================================================*/ 
@media only screen and (min-width: 768px){
.container{ width: 80; }
.components{ display: flex; width: 80%; margin: 0 auto; }
.projComp{ width: 50%; margin: 0 10px;  }
.aboutSection{ width: 80%; }



}
/*this is for phone screen================================================================================================================================*/ 
@media only screen and (min-width: 375px){

   
    .projComp{
    border: none;
    background-color: rgba(255,255,255,0.99);
    padding: 20px;
    margin: 10px auto 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 3px 10px black;}

.projComp:hover{background-color: rgba(255,255,255,0.95);}


#title
{
    color: green;
margin-top: 130px;
font-size: 23px;
font-weight: bold;
}


.tab-list {
    padding: 0;
    margin: 0 auto;
    display: flex;
}

.tab-list-item {
    background: none;
    border: none;
  list-style: none;
  padding: 0.3rem 1.5rem;
  color: #3a8905;}

  .tab-list-item:hover{
    background: #87a841;
  color: #ffffff;    }

  .tab-list-active {
    font-weight: bold;
    border-bottom: 3px #3a8905 solid;}

    .aboutSection
{
    padding: 10px 0px 30px;
    width: 100%;
    background-color: rgba(255,255,255,0.99);
    box-shadow: 1px 1px 30px black;
    transform: skewY(2deg);
    margin-bottom: 60px;
    /*border-top: 2px green solid; */
}

    .flexa{
    margin: 50px auto 50px;}

    #adboard{
    margin: 20px 0 0 0;
    height: 200px;
    background-color: white;}

.devflex
{
display: flex;
}

#devpic
{
    width: 50%;
    border-radius: 100%;
}

.devbox
{
    padding: 10px;
    border: 1px green solid;
    margin: 5px 0;
}

.devstats{
    /*border: 1px green solid;*/
    margin: 20px 0 0 10px;
}

p{
    justify-content: all;
}

.aboutContent{
    margin: 300px 0 0 0;
}

.writebox{
    background-color: white;
    opacity: 0.9;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
   
}

.donation{
    padding: 10px;
    border-bottom: 3px darkgreen solid;
    
}


#phnnumbers{
    padding: 5px;
    margin: 5px auto;
    width: 60%;
}

.comments-list
{
    /*height: 250px;*/
    overflow: scroll;
    background-color: rgba(255,255,255, 0.9);
}

#commentBtn{margin: 0 0 0 5px;}

.dispPhNumber{display: none;}

#displayNumberbtn{ margin: 10px;}

.footing{
    background-color: darkgreen;
}

.footerparts{
}


}














